*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:Arial, Helvetica, sans-serif;

background:#eaf5f2;

}



.container{

max-width:520px;

margin:auto;

background:white;

min-height:100vh;

padding:25px 15px;

text-align:center;

}



.logo{

width:160px;

height:160px;

object-fit:contain;

}



h1{

color:#00695c;

margin:15px 0 5px;

font-size:28px;

}



h3{

color:#00695c;

margin:10px;

}



p{

color:#555;

line-height:1.5;

}



#clock{

display:inline-block;

background:#00695c;

color:white;

font-size:30px;

font-weight:bold;

padding:12px 30px;

border-radius:15px;

margin:20px;

}



.menu a{

display:flex;

align-items:center;

background:#f8ffff;

color:#00695c;

text-decoration:none;

font-weight:bold;

padding:15px;

margin:12px 0;

border-radius:15px;

box-shadow:0 4px 10px rgba(0,0,0,.12);

transition:.3s;

}



.menu a:hover{

background:#00695c;

color:white;

transform:translateY(-3px);

}



.menu span{

font-size:26px;

width:45px;

}



.qris{

margin-top:35px;

background:#f8ffff;

padding:20px;

border-radius:15px;

box-shadow:0 4px 10px rgba(0,0,0,.12);

}



.qris img{

width:230px;

max-width:90%;

margin:15px;

}



.footer{

margin-top:30px;

font-weight:bold;

color:#00695c;

}


@media(max-width:600px){

.logo{

width:130px;

height:130px;

}


h1{

font-size:22px;

}

}
